<template>
    <component :is="tag" class="card">
        <slot/>
    </component>
</template>

<script>
import VueTypes from 'vue-types';

export default {
    props: {
        tag: VueTypes.string.def('div'),
    },
};
</script>

<style lang="scss" scoped>
@import 'src/styles/component-settings';

.card {
    background: $background-primary;
    box-shadow: 0 0 4px 1px #ddd;
    margin: 12px 0;
    padding: 20px;
}
</style>
