<template>
    <div class="barcode-box">
        <div v-if="isAvailable" class="barcode-box__bars-list">
            <bar-line
                v-for="(bar, index) in bars"
                :key="index"
                :number="bar"
                :style="{
                    background: colors.primary,
                }"
                class="barcode-box__bar"
            />
            <bar-line
                :number="checksum"
                class="barcode-box__bar barcode-box__bar--secondary"
                :style="{
                    background: colors.secondary,
                    borderColor: colors.primary,
                }"
            />
        </div>
        <div class="barcode-box__empty" v-else>
            Enter a valid Barcode
        </div>
    </div>
</template>

<script>
import VueTypes from 'vue-types';
import BarLine from './BarLine';
import BarcodeService from '@/services/barcode-service';

export default {
    components: {
        BarLine,
    },
    props: {
        barcode: VueTypes.string.isRequired,
        colors: VueTypes.shape({
            primary: VueTypes.string.isRequired,
            secondary: VueTypes.string.isRequired,
        }).isRequired,
        isAvailable: VueTypes.bool.def(false),
    },
    computed: {
        bars() {
            return this.barcode.split('').map(v => parseInt(v, 10));
        },
        checksum() {
            return BarcodeService.calculateChecksum(this.bars);
        },
    },
};
</script>

<style lang="scss" scoped>
@import 'src/styles/component-settings';
$height: 200px;

.barcode-box {
    $_padding: 10px;

    background: $background-primary;
    border: 2px solid $gray-border;
    box-sizing: border-box;
    height: #{$height + ($_padding * 2) + 4px};
    padding: $_padding;
    position: relative;

    &__empty {
        box-sizing: border-box;
        font-size: 24px;
        left: 50%;
        padding: 10px;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    &__bars-list {
        align-items: center;
        display: flex;
        height: $height;
        justify-content: center;

        .barcode-box__bar {
            border: 1px solid transparent;
            box-sizing: border-box;
            flex: 0 1 auto;
            margin-left: 1px;
            margin-right: 1px;
        }
    }
}
</style>
