<template>
    <lc-page-frame>
        <lc-card>
            <ul class="unordered-list">
                <li>
                    <span>Barcode should contain up to {{ this.maxBarcodeLength }} digits</span>
                    <span v-if="!$v.barcode.maxLength" class="error-icon">✖</span>
                </li>
            </ul>
            <div class="form-frame">
                <gc-input
                    format="digits"
                    label="Barcode"
                    name="barcode"
                    placeholder="Enter barcode here"
                    v-model="barcode"
                    :invalid="$v.barcode.$error"
                    @blur="$v.barcode.$touch"
                />

                <div class="columns columns--two-columns">
                    <div class="columns__column">
                        <gc-color-picker
                            v-model="colors.primary"
                            label="Primary Color"/>
                    </div>
                    <div class="columns__column">
                        <gc-color-picker
                            v-model="colors.secondary"
                            label="Secondary Color"
                            popup-position="center"/>
                    </div>
                </div>
            </div>
            <div class="barcode__wrapper">
                <barcode
                    class="barcode"
                    :barcode="barcode"
                    :colors="colors"
                    :is-available="barcode !== '' && !$v.barcode.$invalid"
                />
            </div>
        </lc-card>
    </lc-page-frame>
</template>

<script>
import { maxLength } from 'vuelidate/lib/validators';
import Barcode from './Barcode';

export default {
    components: {
        Barcode,
    },
    data() {
        return {
            maxBarcodeLength: 19,
            barcode: '',
            colors: {
                primary: '#00f',
                secondary: '#fff',
            },
        };
    },
    validations() {
        return {
            barcode: { maxLength: maxLength(this.maxBarcodeLength) },
        };
    },
};
</script>

<style scoped lang="scss">
@import 'src/styles/component-settings';

.unordered-list {
    line-height: 1.5;
}

.error-icon {
    color: $indicator-error;
    margin-left: 5px;
}

.form-frame {
    max-width: 300px;
}

.barcode {
    max-width: 600px;
    width: 100%;

    &__wrapper {
        display: flex;
        justify-content: center;
    }
}
</style>
