<template>
    <div
        class="bar-line"
        :class="classList"
    />
</template>

<script>
import VueTypes from 'vue-types';

export default {
    props: {
        number: VueTypes.number.isRequired,
    },
    computed: {
        classList() {
            return [
                `bar-line--width-${Math.ceil((this.number + 1) / 4)}`,
                `bar-line--height-${(this.number % 4) + 1}`,
            ];
        },
    },
};
</script>

<style lang="scss" scoped>
@import 'src/styles/component-settings';

$minimum-bars-count: 9;
$height-step: 25%;

.bar-line {
    &--width {
        &-1 {
            width: (100% / $minimum-bars-count / 4);
        }

        &-2 {
            width: (100% / $minimum-bars-count / 2);
        }

        &-3 {
            width: (100% / $minimum-bars-count);
        }
    }

    &--height {
        &-1 {
            height: #{100% - ($height-step * 3)};
        }

        &-2 {
            height: #{100% - ($height-step * 2)};
        }

        &-3 {
            height: #{100% - $height-step};
        }

        &-4 {
            height: 100%;
        }
    }
}
</style>
