.columns {
    $this: &;
    display: flex;

    &--two-columns {
        #{$this}__column {
            width: 50%;
        }
    }

    &__column {
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
}