.label-and-field-wrapper {
    margin-bottom: 1.5em;
}

.label {
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 4px;
}

.field-wrapper {
    position: relative;
    width: 100%;
}
