html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    background: $background-page;
    color: $text-primary;
    font-family: $font-primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 320px;
}