<template>
    <div class="label-and-field-wrapper">
        <div class="label" v-if="!!label">{{ label }}</div>

        <div class="color-picker">
            <button class="color-picker__button" @click="openPopup">
                <span
                    class="color-picker__button-background"
                    :style="{
                        background: currentValue
                    }"
                />
            </button>
            <div
                v-outside-click="closePopup"
                class="color-picker__popup"
                v-if="showPopup"
                :class="{
                    [`color-picker__popup--${popupPosition}`]: !!popupPosition,
                }"
            >
                <chrome-color-picker v-model="pickerValue"/>
                <div class="color-picker__popup-buttons">
                    <gc-button secondary @click="closePopup">Cancel</gc-button>
                    <gc-button primary @click="applyColor">Apply</gc-button>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import VueTypes from 'vue-types';
import { Chrome } from 'vue-color';
import OutsideClick from '@/directives/outside-click';

export default {
    directives: {
        OutsideClick,
    },
    props: {
        value: VueTypes.string.def(undefined),
        label: VueTypes.string,
        popupPosition: VueTypes.oneOf(['left', 'center', 'right']).def('left'),
    },
    data() {
        return {
            showPopup: false,
            currentValue: this.value,
            pickerValue: this.value,
        };
    },
    components: {
        ChromeColorPicker: Chrome,
    },
    methods: {
        openPopup() {
            this.showPopup = true;
        },
        closePopup() {
            this.pickerValue = this.currentValue;
            this.showPopup = false;
        },
        applyColor() {
            if (/(^#[0-9A-F]{6}$)/i.test(this.pickerValue.hex)) {
                this.currentValue = this.pickerValue.hex;
                this.$emit('input', this.currentValue);
            }
            this.closePopup();
        },
    },
};
</script>

<style lang="scss" scoped>
@import 'src/styles/component-settings';
$size: 40px;
$extra-size: 6px * 2;

.color-picker {
    height: #{$size + $extra-size};
    position: relative;
    width: #{$size + $extra-size};

    &__button {
        background: transparent;
        border: 1px solid $gray-border;
        box-sizing: content-box;
        height: $size;
        outline: 0;
        padding: 5px;
        transition: border .15s ease-out;
        width: $size;

        &:focus {
            border-color: $focus-color;
        }
    }

    &__button-background {
        display: inline-block;
        height: $size;
        width: $size;
    }

    &__popup {
        border-radius: 3px;
        box-shadow: 0 0 4px 1px #ddd;
        margin-top: 5px;
        position: absolute;
        top: 100%;
        z-index: 1;

        &--left {
            left: 0;
        }

        &--center {
            margin-left: -112px;
            left: 50%;
        }

        &--right {
            right: 0;
        }
    }

    &__popup-buttons {
        background: $background-primary;
        display: flex;

        > button {
            flex-basis: 50%;
        }

        /deep/ .button {
            &:first-child {
                border-radius: 0 0 0 2px;
            }

            &:last-child {
                border-radius: 0 0 2px 0;
            }
        }
    }
}

/deep/ {
    .vc-chrome {
        box-shadow: none;
    }
}
</style>
