<template>
    <div class="label-and-field-wrapper">
        <label class="label" :for="name" v-show="!!label">{{label}}</label>
        <div class="field-wrapper">
            <input
                v-model="inputValue"
                v-on="listeners"
                v-bind="$attrs"
                ref="input"
                class="field-text"
                :name="name"
                :id="name"
                :placeholder="placeholder"
                :class="{
                    'field-text--invalid': invalid,
                }"
                type="text"
                @blur="onBlur"
            >
        </div>
    </div>
</template>

<script>
import VueTypes from 'vue-types';

function formatter(value = '', format) {
    let tempVal = '';
    if (format === 'default') {
        tempVal = value;
    } else if (format === 'digits') {
        tempVal = value.replace(/[^\d]/g, '');
    }

    return tempVal;
}

export default {
    inheritAttrs: false,
    props: {
        value: VueTypes.string.def(undefined),
        label: VueTypes.string,
        placeholder: VueTypes.placeholder,
        name: VueTypes.string.isRequired,
        format: VueTypes.oneOf(['default', 'digits']).def('default'),
        invalid: VueTypes.bool.def(false),
    },
    computed: {
        inputValue: {
            get() {
                return formatter(this.value, this.format);
            },
            set(val) {
                this.$emit('input', formatter(val, this.format));
            },
        },
        listeners() {
            const { input, blur, ...other } = this.$listeners;
            return other;
        },
    },
    methods: {
        onBlur() {
            const tempVal = formatter(this.inputValue, this.format);
            this.$emit('input', tempVal);
            this.$refs.input.value = tempVal;

            this.$emit('blur');
        },
    },
};
</script>

<style lang="scss" scoped>
@import 'src/styles/component-settings';

.field-text {
    background: $background-secondary;
    border: 0;
    border-bottom: 1px solid $gray-border;
    box-sizing: border-box;
    font-family: $font-primary;
    font-size: 16px;
    line-height: 20px;
    outline: 0;
    padding: 10px 10px 9px;
    transition: border .15s ease-out;
    width: 100%;

    &::placeholder {
        color: $gray;
    }

    &--invalid {
        border-bottom-color: $indicator-error;
    }

    &:focus {
        border-bottom-color: $focus-color;
    }
}
</style>
