<template>
    <button
        v-on="$listeners"
        v-bind="$attrs"
        class="button"
        :class="{
            'button--primary': primary,
            'button--secondary': secondary,
        }"
    >
        <slot/>
    </button>
</template>

<script>
import VueTypes from 'vue-types';

export default {
    props: {
        primary: VueTypes.bool.def(false),
        secondary: VueTypes.bool.def(false),
    },
};
</script>

<style lang="scss" scoped>
@import 'src/styles/component-settings';

.button {
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 0 4px 1px transparent;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 600;
    height: 40px;
    line-height: 18px;
    outline: 0;
    padding: 10px 20px;
    transition:
        .15s background ease-out,
        .15s box-shadow ease-out;

    &--primary {
        background: $blue;
        color: $white;

        &:hover {
            background: darken($blue, 10);
        }
    }

    &--secondary {
        background: $white;
        border-color: $blue;
        color: $blue;

        &:hover {
            background: darken($white, 2);
        }
    }

    &:hover {
        box-shadow: 0 0 4px 1px #ddd;
    }
}
</style>
