<template>
    <component :is="tag" class="page-frame">
        <slot/>
    </component>
</template>

<script>
import VueTypes from 'vue-types';

export default {
    props: {
        tag: VueTypes.string.def('div'),
    },
};
</script>

<style lang="scss" scoped>
@import 'src/styles/component-settings';

.page-frame {
    margin-left: auto;
    margin-right: auto;
    max-width: $page-frame;
    padding-left: $page-sides-padding;
    padding-right: $page-sides-padding;
}
</style>
