<template>
    <main id="app">
        <barcode-generator/>
    </main>
</template>

<script>
import BarcodeGenerator from './containers/barcode-generator/BarcodeGenerator';

export default {
    name: 'app',
    components: {
        BarcodeGenerator,
    },
};
</script>

<style lang="scss">
@import 'styles/styles';
</style>
