$base-font-size: 16px;
$font-primary: 'Avenir', Helvetica, Arial, sans-serif;

$background-page: $gray-light;
$background-primary: $white;
$background-secondary: $gray-light-1;

$text-primary: $almost-black;

$page-frame: 940px;
$page-sides-padding: 20px;

$indicator-error: $red;

$focus-color: $blue;